# Node modules
frontend/node_modules/

# Archivos de configuración locales
/backend/src/main/resources/application.properties

# Archivos de construcción de Java/Gradle/Maven
backend/target/
backend/build/
dist/
dist-ssr/

# IDEs
.vscode/
.idea/
*.iml
.project
.classpath
.settings/

# Sistema operativo
.DS_Store
Thumbs.db

# Logs
*.log
log/
tmp/

# Archivos de entorno
.env
.env.*
